@charset "utf-8";

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 calc(10 / 320 * 100%);
}

.nf-shop {
}

.nf-shop__infoList {
  padding-left: 1em;
}

.iframeMap {
  position: relative;
  width: 100%;
  margin: 0;
  padding-bottom: 56.25%;
}

.iframeMap .iframeMap__frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  border-width: 0;
}