@charset "utf-8";

.nearestShop {
  max-width: 800px;
  margin: 0 auto;
}

.iframeMap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.iframeMap .iframeMap__frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  border-width: 0;
}